# SQL JOIN
JOIN anahtar kelimesi iki ve daha fazla tablodan kayitlari iliskili bir kolon uzerinden biraraya getirmeye yarar. Asagidaki Orders tablosunu gozonune alalim:

|OrderID|CustomerID|OrderDate|
|-------|----------|---------|
|10308|2|1996-09-18|
|10309|37|1996-09-19|
|10310|77|1996-09-20|

ve "Customers" tablosuna bakalim:

|CustomerID|CustomerName|ContactName|Country|
|-------|----------|---------|
|1|Alfreds Futterkiste|Maria Anders|Germany|
|2|Ana Trujillo Emparedados y helados|Ana Trujillo|Mexico|
|3|Antonio Moreno Taquería|Antonio Moreno|Mexico|

"Orders" tablosundaki "CustomerID" kolonu "Customers" tablosundaki "CustomerID" kolonuna referanse etmektedir.Bu durumda asagidaki INNER JOIN iceren SQL cumlesini yazabiliriz. Bu SQL cumlesi iki tablodan da eslesen kayitlari getirecektir.

~~~sql
SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;
~~~

ve asagidaki gibi bir sonuc donecektir

|OrderID|CustomerID|OrderDate|
|-------|----------|---------
|10308|Ana Trujillo Emparedados y helados|9/18/1996|
|10365|Antonio Moreno Taquería|11/27/1996|
|10383|Around the Horn|12/16/1996|
|10355|Around the Horn|11/15/1996|
|10278|Berglunds snabbköp|8/12/1996|

In [ ]:
####


### Different Types of SQL JOINs

SQL'deki Farkli tip JOINler:

- **(INNER) JOIN:** Iki tablodan da sartlari saglayan kayitlari dondurur.
- **LEFT (OUTER) JOIN:** Sol tablodaki tum kayitlari dondururken sag tablodaki eslesen kayitlari dondurur.
- **RIGHT (OUTER) JOIN:** Sag tablodaki tum kayitlari dondururken sol tablodaki eslesen kayitlari dondurur.
- **FULL (OUTER) JOIN:** Eslessin eslesmesin tum kayitlari dondurur.
      
  ![Alt text](img/join_types.png)

In [ ]:
####

### SQL INNER JOIN Anahtar Kelimesi
The INNER JOIN anahtar kelimesi iki tablodan da eslesen kayitlari getirir.

INNER JOIN Syntax

~~~sql
SELECT column_name(s)
FROM table1
INNER JOIN table2 ON table1.column_name = table2.column_name;
~~~
  ![Alt text](img/inner_join.png)

In [1]:
####

### SQL INNER JOIN Ornek
The following SQL statement selects all orders with customer information:
Example
~~~sql
SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;
~~~
**Note:** The INNER JOIN keyword selects all rows from both tables as long as there is a match between the columns. If there are records in the "Orders" table that do not have matches in "Customers", these orders will not be shown!

### JOIN Three Tables
TAsagidaki SQL ornegi tum ORDERS kayitlarini customer ve shipper bilgisi ile listeler: 

~~~sql
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
~~~

In [ ]:
SELECT *
FROM Orders
ON Orders.CustomerID=Customers.CustomerID;

### SQL LEFT JOIN Anahtar Kelimesi
The LEFT JOIN keyword returns all records from the left table (table1), and the matched records from the right table (table2). The result is NULL from the right side, if there is no match.
LEFT JOIN Syntax
SELECT column_name(s)
FROM table1
LEFT JOIN table2 ON table1.column_name = table2.column_name;
Note: In some databases LEFT JOIN is called LEFT OUTER JOIN.
![Alt text](img/left_join.png)

SQL LEFT JOIN Example
The following SQL statement will select all customers, and any orders they might have:
Example
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;
Try it Yourself »
Note: The LEFT JOIN keyword returns all records from the left table (Customers), even if there are no matches in the right table (Orders).

### SQL RIGHT JOIN Anahtar Kelimesi
The RIGHT JOIN keyword returns all records from the right table (table2), and the matched records from the left table (table1). The result is NULL from the left side, when there is no match.
RIGHT JOIN Syntax
SELECT column_name(s)
FROM table1
RIGHT JOIN table2 ON table1.column_name = table2.column_name;
Note: In some databases RIGHT JOIN is called RIGHT OUTER JOIN.
 
![Alt text](img/right_join.png)

SQL RIGHT JOIN Example
The following SQL statement will return all employees, and any orders they might have placed:
Example
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;
Try it Yourself »
Note: The RIGHT JOIN keyword returns all records from the right table (Employees), even if there are no matches in the left table (Orders).

Test Yourself With Exercises
Exercise:
Choose the correct JOIN clause to select all the records from the Customers table plus all the matches in the Orders table.
SELECT *
FROM Orders

ON Orders.CustomerID=Customers.CustomerID;

### SQL FULL OUTER JOIN Anahtar Kelimesi
The FULL OUTER JOIN keyword return all records when there is a match in either left (table1) or right (table2) table records.
**Not:** FULL OUTER JOIN can potentially return very large result-sets!

~~~sql
FULL OUTER JOIN Syntax
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2 ON table1.column_name = table2.column_name;
~~~
![Alt text](img/full_outer_join.png)

### SQL FULL OUTER JOIN Ornegi

Asagidaki SQL cumlesi tum CUSTOMERS, ve tum ORDERS kayitlarini listeler:

~~~sql
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;
~~~

**Not:** The FULL OUTER JOIN anahtar sozcugu sol tablodaki tum kayitlari getirmekle birlikte sag tablodaki tum kayitlari da getirir. Yani sarti saglasin saglamasin tum kayitlar listelenecektir.

### SQL Self JOIN

Self JOIN bildigimiz join, fakat kendisi ile baglanti kuruyor.

Self JOIN Syntax

~~~sql
SELECT column_name(s)
FROM table1 T1, table1 T2
WHERE condition;
~~~


### SQL Self JOIN Example

Asagidaki SQL cumlesi ayni sehirden olan musterileri listeler: 

~~~sql
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City 
ORDER BY A.City;
~~~