In [1]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [4]:
%%sql 
CREATE TABLE CARTOON(firstname varchar(50),lastname varchar(50));
INSERT INTO CARTOON VALUES('daffy','duck');
INSERT INTO CARTOON VALUES('Mickey','Mouse');
SELECT * from CARTOON;

 * sqlite://
Done.
1 rows affected.
1 rows affected.
Done.

[('daffy', 'duck'), ('Mickey', 'Mouse')]

In [5]:
%sql select * from CARTOON;

 * sqlite://
Done.

[('daffy', 'duck'), ('Mickey', 'Mouse')]

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%%sql postgresql://will:longliveliz@localhost/shakes
select * from character
where abbrev = 'ALICE'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])